/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  color: #f7f7f7;
}

.top_block,
.medium_block,
.bottom_block {
  width: 100%;
  margin: 0;
}

.inner_block {
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

/* top section start */
.top_logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.logo_text {
  text-transform: uppercase;
  margin-left: 15px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.top_block {
  background-color: #02160b;
}

.top_section {
  min-height: 779px;
  background-image: url(../img/head_fox.jpg);
}

.header {
  display: flex;
  align-items: center;
  padding: 3px 120px 0 120px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 109px;
}

.top_logo img {
  width: 70px;
  height: 60px;
}
.upper_nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.upper_nav_item a {
  display: block;
  margin-right: 17px;
  padding: 0 22px;
  line-height: 46px;
  text-decoration: none;
  color: #f7f7f7;
}

.blog a {
  width: 50px;
}

.contacts a {
  width: 96px;
}

.search a {
  width: 32px;
  margin-right: 39px;
}

.upper_nav_item img {
  display: block;
  margin: auto;
}

.header .upper_nav_item:last-child a {
  margin-right: 0;
}

.social_items a:hover,
.social_items a:focus,
.upper_nav_item:hover:not(:last-child) a,
.upper_nav_item:focus:not(:last-child) a {
  border: 0px solid;
  border-radius: 5px;
  background-color: #cd6326;
}

.social_items a:active,
.upper_nav_item:active:not(:last-child) a {
  border: 0px solid;
  border-radius: 5px;
  background-color: #8f5613;
}

.sign_in {
  border: 2px solid #cd6326;
  border-radius: 5px;
}

.sign_in:hover,
.sign_in:focus {
  border: 2px solid #cd6326;
  border-radius: 5px;
  background-color: #cd6326;
}

nav .upper_nav .sign_in:active {
  border: 2px solid #8f5613;
  border-radius: 5px;
  background-color: #8f5613;
}

.survival_h2 {
  font-size: 48px;
  letter-spacing: 2px;
  color: #cd6326;
  font-weight: 400;
  margin-bottom: 54px;
}

.survival p {
  width: 275px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 400;
}

.survival p:last-of-type {
  margin-bottom: 49px;
}

.button {
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;

  width: 160px;
  height: 60px;
  color: #f7f7f7;
  border: 0px solid #cd6326;
  border-radius: 5px;
  background: #cd6326;
  outline: none;
}

.button:hover,
.button:focus {
  background: #e39128;
}

.button:active {
  background: #8f5613;
}

/* top section end */

/* medium section end */
.medium_block {
  background-color: #ccc;
}

.middle_h2 {
  text-align: center;
  padding-top: 125px;
  margin-bottom: 22px;
  color: #333;

  font-family: Open Sans;
  font-size: 48px;
  font-weight: 400;
}

.middle_sub_h2 {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #666666;
  margin-bottom: 123px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 241px;
}

.slider a {
  margin-right: 60px;
  text-decoration: none;
  color: #f7f7f7;
}

.slider a:first-child {
  margin-right: 65px;
}

.slider a:last-child {
  margin-right: 0;
}

.slider_nav {
  padding-top: 10px;
}

.slider_nav:hover,
.slider_nav:focus {
  border-radius: 5px;
  background: #333;
}

.slider_pic {
  height: 360px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pic1 {
  background-image: url('../img/slider_0.jpg');
}

.pic2 {
  background-image: url('../img/slider_1.jpg');
}

.pic3 {
  background-image: url('../img/slider_2.jpg');
}

.slider_pic_main,
.slider_pic_sub {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.slider_pic_main {
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 400;
  padding-top: 250px;
  margin-bottom: 15px;
}

.slider_pic_sub {
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 400;
}

.email_header {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 27px;
  text-align: center;
  color: #333333;
  margin-bottom: 62px;
}

form {
  display: flex;
  justify-content: center;
}

.email,
.submit {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 23px;
  line-height: 60px;
  outline: none;
  margin-bottom: 238px;
}

.email {
  width: 525px;
  padding-left: 15px;
  border: 1px solid #666;
  border-radius: 5px 0px 0px 5px;
  background: #ccc;
  color: #666;
}

.submit {
  width: 120px;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  color: #f7f7f7;
}

.submit:hover,
.submit:focus {
  border: 1px solid #e39128;
  background: #e39128;
}

.submit:active {
  border: 1px solid #8f5613;
  background: #8f5613;
}

/* medium section end */

/* bottom section start */
.bottom_block {
  background-color: #181617;
}
.bottom_section {
  min-height: 359px;
  background-image: url(../img/footer.jpg);
}

.footer {
  display: flex;
  align-items: center;
  padding: 135px 120px 0 120px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles {
  margin-right: 27px;
}

.about_us {
  margin-right: 28px;
}

.learn_more {
  margin-right: 74px;
}

.social_items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social_items a {
  display: block;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 13px 0 13px;
}

.social_items li:last-child a {
  margin-right: 0;
}

.facebook a {
  background-image: url('../img/facebook_icon.svg');
}

.instagram a {
  background-image: url('../img/instagram_icon.svg');
}

.pinterest a {
  background-image: url('../img/pinterest_icon.svg');
}

.telegram a {
  background-image: url('../img/tg_icon.svg');
}

/* bottom section end */
